RewriteEngine On
RewriteRule ^control?$ master_actions.php
RewriteRule ^login?$ verify_masterlogin.php
RewriteRule ^logout?$ master_logout.php
RewriteRule ^username?$ master_username.php
RewriteRule ^password?$ master_password.php
RewriteRule ^ads?$ master_ads.php
RewriteRule ^analytics?$ master_analytics.php
RewriteRule ^setting?$ master_setting.php
RewriteRule ^dashboard?$ master_dashboard.php
RewriteRule ^blocked?$ total_blocked.php
RewriteRule ^ipblock?$ fetch_blocked.php
RewriteRule ^page_create?$ create_page.php
RewriteRule ^edit_page/([^/\.]+)?$ page_edit.php?slug=$1
RewriteRule ^active_page?$ total_activepage.php
RewriteRule ^fetch_page_active?$ fetch_activepage.php
RewriteRule ^deactive_page?$ total_deactivepage.php
RewriteRule ^fetch_page_deactive?$ fetch_deactivepage.php
RewriteRule ^createblog?$ blog_create.php
RewriteRule ^edit_blog/([^/\.]+)?$ blog_edit.php?slug=$1
RewriteRule ^active_blog?$ total_activeblog.php
RewriteRule ^fetch_blog_active?$ fetch_activeblog.php
RewriteRule ^deactive_blog?$ total_deactive_blog.php
RewriteRule ^fetchblog_deactive?$ fetch_deactive_blog.php
RewriteRule ^upload?$ blog_upload.php
RewriteRule ^b_edit?$ blog_upload_edit.php
RewriteRule ^category?$ total_categories.php
RewriteRule ^fetch_cat?$ fetch_totalcategory.php
RewriteRule ^category_active?$ total_active_categories.php
RewriteRule ^fetch_activecat?$ fetch_total_activecategory.php
RewriteRule ^category_deactive?$ total_deactive_categories.php
RewriteRule ^fetch_deactive_cat?$ fetch_total_deactivecategory.php
RewriteRule ^allzip?$ total_zip_files.php
RewriteRule ^fetch_all_zip?$ fetch_totalzip_files.php
RewriteRule ^active_zip?$ total_activezip_files.php
RewriteRule ^fetch_active_zip?$ fetch_activezip_files.php
RewriteRule ^pending_zip?$ total_pending_zip_files.php
RewriteRule ^fetch_pending_zip?$ fetch_pending_zip_files.php
RewriteRule ^featured?$ total_featured_zip_files.php
RewriteRule ^fetch_featured_zip?$ fetch_featured_zip_files.php
RewriteRule ^popular?$ total_popular_zip_files.php
RewriteRule ^fetch_popular_zip?$ fetch_popular_zip_files.php
RewriteRule ^download?$ user_get_file.php